html{
    scroll-behavior: smooth;
}

body{
    background-color: rgb(250,210,219);
}

.nav-color{
    background-color: rgb(98,79,143);
}

.text-color{
    color: rgb(98,79,143);
}


hr{
    border-top: 5px solid rgb(223, 197, 224)
}

.font-a{
    background-color: rgb(98,79,143);
    width: 100%;
    padding: 6px 0px;

}

.bg-card{
    background-color: rgb(223, 197, 224);
}
